.side{
    display: inline-block;
}
.main{
    display: inline-block;
}

li{
  list-style-type: none;  
  padding: 5px 15px;
  border-style: solid;
  text-align: left;
  margin: 3px;
}

ul{
    display: inline-block;
}

#folders{
    float: left;
    
}